
ul#menu2{
    margin-top: 15%;
}

li{
  list-style-type: none;  
}
#imglogo{
    width: 200px;
    height: 150px;
}

#divmenu1{
  display: flex;
  align-items: center;
  justify-content: space-around; 
  padding: 1em; 
}

form{
    border: 1px solid whitesmoke;
    border-radius: 0.3em;
    padding: 0.3em;
}
form input, form button{
    font-size: 1.2em;
    border-radius: 0.2em;
    border: none;
    padding: 2px;
}
form button{
    cursor:pointer;
    background: none;
}

#buscabtn{
    width: 40px;
    height: 40px;
    background-image: url(imagens/lupaicon.ico);
}

#btnchat{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    background-image: url(imagens/chaticon.ico);
    cursor:pointer;
}

#btnnotificação{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    background-image: url(imagens/notificaçãoicon.ico);
    cursor:pointer;
}

#btnconfig{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    background-image: url(imagens/configicon.ico);
    cursor:pointer;
}

#btnperfil{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    background-image: url(imagens/amalia\ icon.ico);
    cursor:pointer;
}

#btnagenda{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    background-image: url(imagens/agendaicon.ico);
    cursor:pointer;
}

#btnconsulta{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    background-image: url(imagens/consultaicon.ico);
    cursor:pointer;
}
#btnexame{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    background-image: url(imagens/exameicon.ico);
    cursor:pointer;
}

#conteudo{
    border: 100px;
}
#conteudo1{
    display: flex;
    align-items: center;
}
#conteudo2{
    display: flex;
    align-items: center;
    border: 1px;
    border-radius: 1px;
    border-style: outset;
}
h4{
    font-style: oblique;
}

#fotonome{
    width: 100px;
    height: 100px;
}
textarea{
    width: 500px;
    height: 25px;
}

#fotonoticia{
    width: 200px;
    height: 200px; 
    border-radius: 25%;
}

#perfilmed{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    background-image: url(imagens/medicon.ico);
    cursor:pointer;
}

#like{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    background-image: url(imagens/likeicon.ico);
    cursor:pointer;
}

#chatmed{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    background-image: url(imagens/conversaricon.ico);
    cursor:pointer;
}

#share{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    background-image: url(imagens/shareicon.ico);
    cursor:pointer;
}

#adc1{
    width: 200px;
    height: 200px; 
    border-radius: 25%;
}
#adc2{
    width: 200px;
    height: 200px; 
    border-radius: 25%;
}
#adc3{
    width: 200px;
    height: 200px; 
    border-radius: 25%;
}
.Lado{
    display:grid;
    grid-template-columns: 1fr,200PX;
    grid-gap: 20px;
    align-items: flex-end;
}
